$color-dark: #000E4B;
$color-yellow: #FFE600;
$color-white: #fff;
$color-dark-gray: #DCDCDC;
$color-light-gray: #F4F4F4;

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 21px;
	color: $color-dark;
	padding-top: 64px;
	overflow-x: hidden;
}

h1 {
	font-weight: bold;
	font-size: 100px;
	line-height: 117px;
	color: $color-dark;
}

.h1 {
	position: relative;
	margin-top: 80px;
	margin-bottom: 58px;
}


h2 {
	font-weight: 500;
	font-size: 50px;
	line-height: 59px;
	color: $color-dark;
}

h3 {
	margin: 0;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	color: $color-dark;
}

.b2 {
	height: 16px;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	color: $color-dark;
	margin: 0;
}

.container {
	width: 1110px;
	margin: 0 auto;
	padding: 0 15px;
}


/*Хедер-начало*/

.main-header {
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: 1px solid $color-dark-gray;
	background-color: $color-white;
	margin: 0;
	z-index: 2;
}

.main-navigation {
	display: flex;
	align-items: center;
}


.main-navigation-warper {
	display: flex;
	justify-content: space-between;
}

.logotype{
	height: 16px;
	padding: 24px 0;
}

.main-button {
	font-size: 16px;
	line-height: 19px;
	color: $color-dark;
	font-weight: bold;

	float: right;
	text-align: center;
	vertical-align: middle;
	padding-top: 7px;
	padding-bottom: 7px;
}

.low-vertical-separator {
	display: inline-block;
	margin-right: 20px;
	padding-top: 20px;
}

.header-social-icon {
	display: inline-block;
	margin-right: 20px;
	padding-top: 22px;
}

/*Хедер-конец*/


/*Персональная-информация*/

.personal-info {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-bottom: 60px;
}

.separator-bg {
	position: absolute;
	width: calc(100vw - ((50vw - 555px) + 95px));
	height: 76px;
	left: 95px;
	top: 186px;

	background: $color-yellow;
	border-radius: 4px 0 0 4px;
	z-index: -1;
}

.personal-info-text {
	padding-left: 95px;
}

/*Персональная-информация*/


/*Слайдер*/

.slider {
	display: flex;
	flex-direction: column;
}

.bold-text {
	font-weight: bold;
}

.works-main {
	width: 1110px;
	height: 400px;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	margin-top: 102px;
	margin-bottom: 0;
}

.slider-name {
	float: left;
}

.work-name {
	margin-bottom: 5px;
	
}


/*Слайдер*/

.work-info {
	width: 1110px;
	height: 307px;
	background: $color-light-gray;
	border-radius: 5px 5px 0 0;
	margin-top: 30px;
}

.amoun-of-pages {
	display: flex;
	flex-direction: column;
}

.work-info__amount {
	margin: 0;
	margin-bottom: 3px;
}

.work-info__label {
	margin: 0;
}

.work-info__resurce {
	margin-left: 0;
	margin-top: 60px;
	width: 285px;
}

.work-info__card {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 30px;
}
