$color-dark: #000E4B;
$color-yellow: #FFE600;
$color-white: #fff;
$color-dark-gray: #DCDCDC;
$color-light-gray: #F4F4F4;
$color-pink: #EA4C89;
$color-blue: #0157FE;

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 21px;
	color: $color-dark;
	padding-top: 64px;
	overflow-x: hidden;
}

h1 {
	font-weight: bold;
	font-size: 100px;
	line-height: 117px;
	color: $color-dark;
}

.h1 {
	position: relative;
	margin-top: 80px;
	margin-bottom: 58px;
}


h2 {
	font-weight: 500;
	font-size: 50px;
	line-height: 59px;
	color: $color-dark;
}

h3 {
	margin: 0;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	color: $color-dark;
}

.b2 {
	height: 16px;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	color: $color-dark;
	margin: 0;
}

.container {
	width: 1110px;
	margin: 0 auto;
	padding: 0 15px;
	position: relative;
}

button {
	border: none;
	background-color: $color-white;
	padding: 0;
	height: 0;
}

button:active {
    outline: none;
    border: none;
}

a {
	text-decoration: none;
}

/*Хедер-начало*/

.main-header {
	position: fixed;
	top: 0;
	height: 64px;
	width: 100vw;
	border-bottom: 1px solid $color-dark-gray;
	background-color: $color-white;
	margin: 0;
	z-index: 20;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-navigation {
	display: flex;
	align-items: center;
}


.main-navigation-warper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logotype{
	height: 16px;
	align-self: center;
}

.header__left {
	display: flex;
	align-items: center;
}

.main-button {
	font-size: 16px;
	height: 19px;
	color: $color-dark;
	font-weight: bold;

	float: right;
	text-align: center;
	vertical-align: middle;
	display: flex;
	align-items: center;
}

.main-button:hover {
	color: $color-yellow;
}

.low-vertical-separator {
	align-self: center;
	margin-right: 20px;
}

.header-social-icon {
	display: flex;
	margin-right: 20px;
	font-family: "social-icons";
}

.icon-dribbble {
	display: flex;
	margin-right: 20px;
	font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
	-webkit-font-smoothing: antialiased;
	color: $color-dark;
}

.icon-dribbble:hover {
	color: $color-pink;
}

.icon-dribbble:before {
	content: "\e900";
}

.icon-behance {
	display: flex;
	margin-right: 20px;
	font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
	-webkit-font-smoothing: antialiased;
	color: $color-dark;
}

.icon-behance:hover {
	color: $color-blue;
}

.icon-behance:before {
	content: "\e901";
}

/*Хедер-конец*/


/*Персональная-информация*/

.personal-info {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-bottom: 60px;
}

.separator-bg {
	position: absolute;
	width: calc(100vw - ((50vw - 555px) + 95px));
	height: 76px;
	left: 95px;
	top: 186px;

	background: $color-yellow;
	border-radius: 4px 0 0 4px;
	z-index: -1;
}

.personal-info-text {
	padding-left: 95px;
}

/*Персональная-информация*/


/*Слайдер*/

.slider {
	display: flex;
	flex-direction: column;
	position: relative;
}

.bold-text {
	font-weight: bold;
}

.works-main {
	width: 1110px;
	height: 400px;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	margin-top: 102px;
	margin-bottom: 0;
}

.slider-name {
	float: left;
}

.work-name {
	margin-bottom: 5px;
	pointer-events: none;
}

.work-info {
	width: 1110px;
	height: 307px;
	background: $color-light-gray;
	border-radius: 5px 5px 0 0;
	margin-top: 30px;
	display: flex;
	position: relative;
}

.amoun-of-pages {
	display: block;
	flex-direction: column;
}

.work-info__amount {
	text-align: center;
	margin: 0;
	display: block;
	margin-bottom: 3px;
	pointer-events: none;
}

.work-info__label {
	margin: 0;
	text-align: center;
}

.work-info__resurce {
	margin-left: 0;
	margin-top: 60px;
	width: 265px;
}

.work-info__card {
	display: block;
	margin-bottom: 30px;
}

.work-preview__container {
	display: block;
	width: 770px;
	position: absolute;
	bottom: 0;
	left: 265px;
	min-width: 0;
}

.work-preview__item {
	width: 770px;
	height: 400px;
	min-width: 0;
}


.slider__pagination {
	margin-left: 770px;
	width: 75px;
	height: 307px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider__pagunation__item {
	height: 159px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.b2__regular {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	margin: 0;
}

.slider__pagination__name {
	margin-bottom: 14px;
}

.slider__pagination__scroll-visual {
	width: 26px;
	height: 129px;
	display: flex;
	align-items: center;
	position: relative;
}

.slider__pagination__separator {
	position: absolute;
	margin-left: 12px;
	width: 2px;
	height: 129px;
	background-color: $color-dark;
}

.slider__pagination_mouse{
	z-index: 2;
	align-self: start;
	margin-top: 10px;
}

.slider__pagination_mouse__1 {
	margin-top: 10px;
}

.slider__pagination_mouse__2 {
	margin-top: 73px;
}

.slick-list {
	overflow: hidden;
}

.slick-track {
	display: flex;
	min-width: 100vw;
}

.work-type {
	pointer-events: none;
}

.next-work__lable {
	font-size: 14px;
}

.next-work {
	display: none;
}

/*Слайдер*/

.background-man {
	position: absolute;
	margin-top: -64px;
	margin-left: 850px;
}

.background-big-bush {
	position: absolute;
	margin-top: 21px;
	margin-left: -405px;
}

@media (max-width: 1545px) {
	.background-big-bush {
		position: absolute;
		margin-top: 21px;
		margin-left: -305px;
	}

	.background-man {
		position: absolute;
		margin-top: -64px;
		margin-left: 720px;
	}
}

@media (max-width: 1200px) {
	.container {
		width: 930px;
		margin: 0 auto;
		padding: 0 15px;
		position: relative;
	}
	
	.background-big-bush {
		display: none;
	}

	.background-man {
		position: absolute;
		margin-top: -64px;
		margin-left: 720px;
	}

	.work-info__resurce {
		margin-left: 0;
		margin-top: 60px;
		width: 150px;
	}

	.work-info {
		width: 930px;
		height: 307px;
		background: $color-light-gray;
		border-radius: 5px 5px 0 0;
		margin-top: 50px;
		display: flex;
		position: relative;
	}

	.work-preview__container {
		display: block;
		width: 705px;
		height: 366px;
		position: absolute;
		bottom: 0;
		left: 150px;
		min-width: 0;
	}

	.work-preview__item {
		width: 705px;
		height: 366px;
		min-width: 0;
	}
	
	.work-preview__item img {
		max-width:100%;
		height:auto;
	}

	.slider__pagination {
		margin-left: 705px;
		width: 75px;
		height: 307px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media (max-width: 992px) {
	.container {
		width: 690px;
		margin: 0 auto;
		padding: 0 15px;
		position: relative;
	}

	h1 {
		font-weight: bold;
		font-size: 60px;
		line-height: 70px;
		color: $color-dark;
	}
	
	.h1 {
		position: relative;
		margin-top: 80px;
		margin-bottom: 54px;
	}

	.separator-bg {
		position: absolute;
		width: calc(100vw - ((50vw - 555px) + 95px));
		height: 54px;
		left: 40px;
		top: 100px;
	
		background: $color-yellow;
		border-radius: 4px 0 0 4px;
		z-index: -1;
	}

	.background-man {
		position: absolute;
		margin-top: -14px;
		margin-left: 596px;
		width: 313px;
		height: 331px;
	}

	.background-man img{
		max-width:100%;
		height:auto;
	}

	.personal-info-text {
		padding-left: 40px;
	}

	.work-info__resurce {
		display: none;
	}
	
	.work-preview__item {
		width: 690px;
		height: 358px;
		min-width: 0;
	}

	.work-preview__container {
		display: block;
		width: 690px;
		height: 358px;
		position: absolute;
		top: 0px;
		bottom: 0;
		left: 0px;
		min-width: 0;
	}

	.work-preview__item img {
		max-width:100%;
		height:auto;
	}

	.work-info {
		width: 690px;
		height: 411px;
		background: $color-light-gray;
		border-radius: 5px 5px 0 0;
		margin-top: 30px;
		display: flex;
		position: relative;
	}

	.next-work__lable {
		font-size: 14px;
	}
	
	.next-work {
		display: flex;
	}
	
	.slider__pagination {
		display: flex;
		height: 307px;
		width: 690px;
		margin-left: 0px;
	}

	.slider__pagination__scroll-visual {
		display: none;
	}

	.slider__pagination__name {
		display: none;
	}

	.mobile-nextwork {
		display: flex;
		width: 650px;
		margin-top: 287px;
		justify-content: space-between;
	}
}